<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>About</title>
</head>

<body>
  <div class="home__profile__img">
    <h3>About Page</h3>
    <!-- <img src="img/girl.webp" height="100" width="20px" alt=""> -->
    <p>
      This user queried
      <%= data.userQuery  %>
    </p>
    <ul>
      <% data.results.forEach(result => { %>
      <h1><%= result  %></h1>
      <% }); %>
    </ul>
  </div>

</body>

</html>