<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">

  <title>Document</title>
</head>

<body>
  <section>
    <main class="home__header">
      <h1>My first Ejs site</h1>
    </main>
    <div class="home__divider"></div>

    <div class="home_profile__wrapper">
      <ul>
        <% profiles.forEach(result => { %>
        <h1><%= result.name  %></h1>
        <% }); %>
      </ul>
    </div>
    <div class="home__profile">
      <div class="home__profile__img">
        <img src="img/girl.webp" alt="">
      </div>
      <p>Omo</p>
    </div>
    <h1>Hello world</h1>
    <h2>
      <%= text  %>
    </h2>
  </section>


</body>

</html>