@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.home__header {
    height: 400px;
    width: 100%;
    background-color: burlywood;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin: 10px auto 0;
}
.home__divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 40px auto;
}

.home_profile__wrapper {
    max-width: 1300px;
    margin: 10px auto 0;
    width: 92%;
}
.home_profile__wrapper__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* minmax(250px, 1fr) */
    column-gap: 20px;
    row-gap: 20px;
}
.home_profile_header {
    padding: 20px 0;
    font-weight: 900;
    font-style: italic;
}
.home__profile {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.home__profile__text {
    padding: 20px 10px;
}
.home__profile__text span {
    font-weight: bold;
    color: brown;
}
.home__profile__text p {
    color: #929292;
    padding-bottom: 6px;
}
.home__profile__img {
    width: 100%;
}
.home__profile__img img {
    max-width: 100%;
    width: 100%;
}